@import url("./components/wrapper.scss");  
@import url("./components/header.scss");  
@import url("./components/products.scss");  



@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}


